button{
    background-color: #0f0e50;
    border-radius: 10pt;
    border: none;
    color: white;
    width: 150px;
    height: 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #476aca;
}