button{
    background-color: #0f0e50;
    border-radius: 10pt;
    border: none;
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #476aca;
}

a{
    text-decoration: none;
}